<%- include('partials/header'); %>
<div class="grid-container">
<% books.forEach((book) => { %>
<div class="grid-item"><p><%= book.name %></p></div>
<% }); %>
<%- include('partials/footer'); %>
</div>
