h1 {
  font-family: 'Alata', sans-serif;
}

body {
  font-family: 'Open Sans', sans-serif;
  text-align: center;
}

.grid-container {
  display: grid;
  row-gap: 25px;
  column-gap: 25px;
  grid-template-columns: repeat(3, 1fr);
}

.grid-item {
  outline: 2px solid;
  padding: 10px;
}

img {
  max-width: 50%;
  height: auto;
}
