h1 {
  font-family: 'Alata', sans-serif;
}

body {
  font-family: 'Open Sans', sans-serif;
  text-align: center;
  background-color: #ebebeb;
}

.menu-grid-container {
  width: 90%;
  margin: 0 auto;
  display: grid;
  row-gap: 15px;
  column-gap: 15px;
  grid-template-columns: repeat(5, 1fr);
}

.title-container {
  padding: 20px 0;
}

.books-grid-container {
  width: 90%;
  margin: 0 auto;
  display: grid;
  row-gap: 25px;
  column-gap: 25px;
  grid-template-columns: repeat(3, 1fr);
}

.book-grid-item {
  background-color: #ffffff;
  padding: 10px;
  box-shadow: 5px 5px 10px grey;
}

img {
  max-width: 50%;
  height: auto;
}
